pip intall Display, bs4, requests, xvfb

How to install geckodriver:

Getting last verion by link: https://github.com/mozilla/geckodriver/releases/tag/%ver%

wget https://github.com/mozilla/geckodriver/releases/download/%ver%/geckodriver-%ver%-linux64.tar.gz
tar -xvzf geckodriver-%ver%-linux64.tar.gz
chmod +x geckodriver
sudo mv geckodriver /usr/local/bin/
export PATH=$PATH:/usr/local/bin/geckodriver
